# Binaries
crawler/crawler
engine/engine
web/web
*.exe
*.o
*.bin

# Data
documents/
*.jsonl

# Python
__pycache__/
*.pyc

# IDE
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Plots
*.png

# Tex
*.aux
*.fls
*.log
*.out
*.fdb_latexmk
*.gz
*.toc


*.csv